*.pth
output_dir/
output_dir2/
output_dir3/
output_dir4/
MinM/
val/
wandb/
*.log
output_dir7/
output_dir8/
output_dir9/
output_dir10/
output_dirminm/
output_dir1kminm/
output_images/

minm_mae/
MinM/
